@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-green: #00DB99;
    --primary-red: #DB0B42;
    --secondary-red: #8F0E30;
    --background: #1A1A1A;
    --defaultp: #ADADAD;
}

@font-face {
    font-family: 'Nexa';
    src: url('./fonts/Nexa-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('./fonts/Nexa-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('./fonts/WhyteInktrap-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whyte Inktrap';
  src: url('./fonts/WhyteInktrap-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whyte Inktrap';
  src: url('./fonts/WhyteInktrap-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}